// fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

// variables
$primary-font: 'Raleway', Helvetica, Sans-serif;
$primary-font-color: #000;

$header-height: 5rem;

$poster-perRow: 5;
$poster-width: 11rem;
$poster-margin: .75rem;

$wrap-width: ($poster-perRow * $poster-width) + (($poster-perRow * 2) * $poster-margin);

/*-- CSS rules --*/

//general

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $primary-font;
  color: $primary-font-color;
}

h1 {
  font-size: 3em;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.75em;
}

// button {
//   background: none;
//   border: .1rem solid black; 
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   cursor: pointer;
// }

// button:active {
//   background: #000;
//   color: #fff;
//   outline: none;
// }

// button:focus {
//   outline: none;
// }

// specific

// wrappers
.wrap, 
.modal-wrap {
  position: relative;
  margin: 0 auto;
  width: $wrap-width;
  padding-bottom: 2rem;
}

.modal-wrap {
  margin-top: 4rem;
}

// search bar
.search-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
}

.search-input {
  border: 0;
  border-bottom: .25rem solid $primary-font-color;
  height: $header-height;
  width: 100%;
  font-size: 3rem;
  background: url(http://upload.wikimedia.org/wikipedia/commons/e/eb/High-contrast-system-search.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 3.5rem;
}

.search-input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: $primary-font-color;
}

.search-bar {
  height: 5rem;
  width: 100%;
}

.search-term,
.search-filter {
  color: lighten($primary-font-color, 45%);
  margin-top: 2rem;
  display: inline-block
}

.search-filter {
  float: right;
}

.search-filter a {
  text-decoration: none;
  color: lighten($primary-font-color, 45%);
}

// search result posters
.poster {
  cursor: pointer;
  float: left;
  height: 15rem;
  width: $poster-width;
  margin: $poster-margin;
  opacity: 0;
  background-size: cover;
}

// modal things
.modal {
  opacity: 0;
  background: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .3s;
  overflow: scroll;
  padding-bottom: 2rem;
  &.active {
    opacity: .99;
    z-index: 1;
  }
}

.hamb-wrap {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: -3rem;
  right: 0;
  cursor: pointer;
  z-index: 2;
}
.hamb {
  width: 3rem;
  background: none;
  position: absolute;
  top: 50%;
  left: 0;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background: #000;
    height: .25rem;
    width: 100%;
    border-radius: 3px;
    top: 0;
  } 
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg); 
  }
}

.modal-open {
  overflow: hidden;
}

.synopsis {
  font-size: 1.3em;
  clear: both;
}

.synopsis img {
  float: left;
  padding: .5rem 1rem .5rem 0;
}

// torrent result table
.torrent-results {
  th {
    font-weight: bolder;
    text-align: left;
    font-size: 1.2em;
  }
  td, th {
    padding: 0 1.5rem .25rem 0rem;
  }
  tr {
    opacity: 0;
  }
}


// play button
.progress-button {
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  text-transform: uppercase;
  perspective: 900px;
  padding: 0;
  background: transparent;
  perspective: 900px;
  cursor: pointer;
}

.progress-button .progress {
  border: .1rem solid black;
  background: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 4rem;
  height: 1.25rem;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  backface-visibility: hidden;
}

.progress-button .progress-inner {
  position: absolute;
  left: 0; 
  top: 0;
  width: 0;
  height: 100%;
  background: #000;
  transition: width 0.3s, opacity 0.3s;
}

.progress-button .progress-wrap {
  display: block;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.progress-button[data-perspective] .content {
  border: .1rem solid #000;
  height: 1.25rem;
  line-height: 1.25rem; 
  width: 4rem; 
  display: inline-block;
}

.progress-button.state-loading .progress-wrap {
  transform: rotateX(90deg) translateZ(10px);
}

.state-loading {
  cursor: default;
}

// 'now playing' fixed footer
.now-playing {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 2rem;
  background: white;
  bottom: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  line-height: 2rem;
  .control-wrap {
    width: 5rem;
    display: inline-block;
    text-align: center;
  }
  .control {
    margin: 0 .4rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  .play {
    opacity: 0;
    display: none;
  }
}